/* General CSS */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
	margin: 0;
}

main {
    display: block;
}
.container, .container-fluid {
    margin: 0 auto;
}

.container {
    width: 85%;
}
.container-fluid {
    width: 95%;
}
a {
	background-color: transparent;
}
b,
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}
img {
	border-style: none;
    max-width: 100%;
    height: auto;
}
figure {
	margin: 0 0;
    font-family: 'Ford Antenna ExtraCond Lght';
    font-weight: 300;
    color: #fff;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
[hidden] {
	display: none;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #000000;
    font-family: 'Ford Antenna Cond';
    font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: 'Ford Antenna Cond';
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
}
h1, .h1 {
    font-size: 32px;
    font-size: 2em;
}
h2, .h2 {
    font-size: 27.8576px;
    font-size: 1.7411em;
}
h3, .h3 {
    font-size: 24.2515px;
    font-size: 1.5157em;
}
h4, .h4 {
    font-size: 21.1121px;
    font-size: 1.3195em;
}
h5, .h5 {
    font-size: 18.3792px;
    font-size: 1.1287em;
}
h6, .h6 {
    font-size: 16.3792px;
    font-size: 1em;
}
p {
	margin-bottom: 1.5em;
	margin-top: 0;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: 'Ford Antenna Cond';
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font-family: 'Ford Antenna Cond';
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}

/* Links
--------------------------------------------- */
a {
	color: #0276B3;
	text-decoration: none;
}
a:visited {
	color: #00035F;
}
a:focus{
	color: #00035F;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
	color: #00035F;
}
.custom-logo-link {
	display: inline-block;
}

/* scroll to top */
#go-top{
    display: none;
    font-size: 30px;
    position: fixed;
    bottom: 200px;
    right: 50px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
#go-top:hover {
    background: #0276B3;
}
.full-width-header {
    width: 100% !important;
}

.section-padding {
    padding: 80px 0;
}

.grey-bg {
    background: #eee;
}

/* acordion css */
.msitheme-acordion input[type='checkbox'] { 
    display: none; 
} 

.msitheme-acordion .msitheme-acordion-toggle { 
    display: block; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1rem; 
    color: #fff; 
    background: #00035F; 
    cursor: pointer; 
    /* border-radius: 7px;  */
    transition: all 0.25s ease-out; 
} 
.msitheme-acordion  .msitheme-acordion-toggle:hover { 
    color: #FFF; 
} 
.msitheme-acordion .msitheme-acordion-toggle::after { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-left: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
} 
.msitheme-acordion .toggle:checked+.msitheme-acordion-toggle::after { 
    transform: rotate(90deg) translateX(-3px); 
} 
.msitheme-acordion .collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
} 
.msitheme-acordion .toggle:checked + .msitheme-acordion-toggle + .collapsible-content { 
    max-height: max-content; 
} 
.msitheme-acordion .toggle:checked+.msitheme-acordion-toggle { 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
} 
.msitheme-acordion .collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    padding: 1.5rem 0rem;
} 
.msitheme-acordion .collapsible-content p { 
    margin-bottom: 0; 
}
/* btn css */
.msitheme-btn {
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background-color: #0276B3;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
}
.msitheme-btn span {
    position: relative;
    z-index: 1;
}
.msitheme-btn::before {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: var(--x);
    top: var(--y);
    width: 0;
    height: 0;
    background-color: #000;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}
.msitheme-btn:hover::before {
    height: 300px;
    width: 500px;
}
.readmore-btn i {
    height: 20px;
    width: 20px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-left: 3px;
}

.readmore-btn:hover i {
    background: #0276B3;
}
.msitheme-btn.bordered {
    background: inherit;
    border: 1px solid #000;
    color: #000;
}

.product-btns .msitheme-btn {
    display: block;
    margin-top: 5px;
    text-align: center;
}
.product-btns .msitheme-btn:hover::before {
    width: 800px;
}
.product-btns {
    display: none;
}

.shop-products ul li:hover .product-btns {
    display: block;
}

/* tooggle CSS   */
ul#toggleMenuItem, ul#toggleMenuItemOne, #toggleMenuItemTwo, #toggleMobileMenu {
    display: none;
    position: absolute;
    padding: 10px 15px 0;
    background: #eee;
    width: 100%;
}
.hero-img-nav {
    position: relative;
    width: 25%;
}

.hero-img-nav button {
    background: #0276B3;
    border: 1px solid #0276B3;
    color: #fff;
    padding: 15px 21px;
    font-size: 25px;
    cursor: pointer;
}

.hero-img-nav button i {
    padding-left: 30px;
}

ul#toggleMenuItem li, ul#toggleMenuItemOne li, #toggleMenuItemTwo li {
    border-bottom: 2px solid #ddd;
}

ul#toggleMenuItem li a, ul#toggleMenuItemOne li a, #toggleMenuItemTwo li a {
    padding: 5px;
    display: block;
}
#toggleMenuItemTwo li a {
    color: #000;
}
.hero-img-nav.SubsOneToggle button {
    background: transparent;
    border: 1px solid transparent;
    color: #000;
    padding: 0 0;
    font-size: 16px;
}
#toggleMenuItemTwo {
    top: 80px;
    right: 20px;
}
.hero-img-nav.SubsTwoToggle button i {
    padding-left: 0;
    margin-right: 5px;
}
.hero-img-nav.SubsOneToggle {
    width: auto;
}
.hero-img-nav.SubsOneToggle button i {
    padding-left: 5px;
}

ul#toggleMenuItemOne {
    padding: 10px 0 0;
    width: 400px;
    right: 0;
    top: 50px;
}

ul#toggleMenuItemOne li {
    border: inherit;
    display: inline-block;
    width: 32.7%;
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
}

ul#toggleMenuItemOne li a i {
    display: block;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    background: #00035F;
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .msitheme-btn {
        padding: 7px 15px;
    }
    
    .product-btns .msitheme-btn {
        padding: 5px 5px;
    }
    .grey-bg {
        padding: 30px 0 !important;
    }
    .grey-bg h2 {
        font-size: 25px !important;
        line-height: 25px !important;
        margin-bottom: 10px !important;
    }
    .grey-bg .sub-title {
        font-size: 20px !important;
    }
    .section-padding {
        padding: 40px 0;
    }
    .content-inner {
        font-size: 16px;
    }
    .SubsTwoToggle button {
        padding: 5px 0;
        font-size: 20px;
        width: 100%;
    }
 
    #toggleMenuItemTwo {
        top: 53px;
        width: 229px;
        right: auto;
        left: -20px;
    }
    ul#toggleMenuItem, ul#toggleMenuItemOne, #toggleMenuItemTwo {
        padding: 5px 8px 0;
    }
    .section-title h2 {
        font-size: 25px !important;
        margin-bottom: 20px !important;
    }
    .hero-img-nav.SubsTwoToggle {
        width: 100%;
    }
    #go-top {
        right: 20px;
    }

}
