.header-bottom.everest-b-header {
    background: #00035F;
}

.header-bottom.everest-b-header ul > li a {
    color: #fff;
}
.header-bottom.everest-b-header .header-top-item.navbar > li i {
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
.everest-page .header-bottom {
    align-items: center;
}
.everest .container-fluid {
    border-right: none;
    border-left: none;
}
.everest .site-header {
    width: 100%;
}
.everest .main-content {
    margin-top: 157px;
}

/* hero slider css */
.single-everest-slide {
    position: relative;
}
.eve-slide-btn {
    position: absolute;
    bottom: 110px;
}

.eve-slide-btn .msitheme-btn {
    border-radius: 30px;
}
.slide-1 .eve-slide-btn {
    right: 120px;
}

.slide-2 .eve-slide-btn {
    left: 110px;
}

.slide-3 .eve-slide-btn {
    bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 100px;
}

.slide-4 .eve-slide-btn {
    bottom: 110px;
    left: 60px;
}

.everest-hero-slider .slick-dots {
    bottom: 55px;
    text-align: right;
    right: 130px;
}

.everest-hero-slider .slick-dots li button {
    color: #fff !important;
    font-size: 20px;
    border: 1px solid;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.everest-hero-slider .slick-dots li button::before {
    display: none;
}

.everest-hero-slider .slick-dots li.slick-active button, .everest-hero-slider .slick-dots li:hover button {
    color: #00035F !important;
}

.everest-hero-slider .slick-dots li {
    margin: 0 5px;
    display: inline;
}

.everest-hero-slider .slick-arrow {
    z-index: 2;
    right: 110px;
    top: auto;
    bottom: 55px;
}
.everest-hero-slider .slick-dots {
    bottom: 55px;
    text-align: right;
    right: 130px;
}

.everest-hero-slider .slick-dots li button {
    color: #fff !important;
    font-size: 20px;
    border: 1px solid;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.everest-hero-slider .slick-dots li button::before {
    display: none;
}

.everest-hero-slider .slick-dots li.slick-active button, .everest-hero-slider .slick-dots li:hover button {
    color: #00035F !important;
}

.everest-hero-slider .slick-dots li {
    margin: 0 5px;
    display: inline;
}

.everest-hero-slider .slick-prev::before, .everest-hero-slider .slick-next::before {
    font-size: 35px;
}

.everest-hero-slider .slick-prev {
    left: auto;
    right: 306px;
}

/* content block list css */
.content-block-list .container-fluid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    gap: 40px;
}

.block-list-texts h3 {
    font-size: 40px;
}

.everest main {
    font-size: 20px;
}

.grey-bg {
    background-color: #eee;
    padding: 70px 50px;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.everest-lineup-img-block {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 50px;
    background: #fff;
    padding-bottom: 50px;
}

.img-block-box img {
    width: 370px;
}

.img-block-box {
    text-align: center;
}

.img-block-texts {
    margin-top: 15px;
}

.img-block-texts strong {
    display: block;
}

.biggest-img {
    position: relative;
}

.panorama-absolute-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    border-radius: 50%;
    width: 120px;
    margin-left: -25px;
    margin-top: -25px;
}

.img-blocks {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 40px 85px;
}
.img-block-texts a {
    margin-top: 20px;
}
.image-block-box img {
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.image-block-texts h3 {
    font-size: 40px;
}

.image-block-wrap .container-fluid {
    text-align: center;
}

.image-block-texts {
    text-align: start;
}
.biggest-img-text {
    text-align: center;
    margin-top: 30px;
}
.img-and-text {
    background: #fff;
    padding: 50px 0;
}
.dark-blue {
    background: darkblue;
    padding: 50px 0;
    color: #fff;
}

.next-gen-btn {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 70px;
}
.next-gen-btn a {
    border-radius: 50px;
}

.next-gen-list .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.next-gen-icon i {
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: dodgerblue;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
}

.next-gen-item h3 {
    font-size: 35px;
    margin-bottom: 0;
}

.next-gen-item h3 a {
    color: #fff;
}
.next-gen-list {
    background: #1B394E;
    padding: 80px;
    margin: 70px 0 30px;
}

/* color slider  */
/* Tab CSS */
.color-slider-tab {
    width: 100%;
}
.tabs {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    display: block;
    height: 3em;
    padding: 0px 1.618em;
    cursor: pointer;
    top: 0px;
    transition: all 0.25s ease 0s;
    font-size: 25px;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    height: 12rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    background: #fff;
    color: #2c3e50;
    opacity: 0;
    transition: all 0.35s;
    width: 100%;
}
.tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

/* slider css */
/* sections */
.color-slider {
    padding: 80px 0 150px;
    overflow: hidden;
}
.color-slide-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    bottom: -30px;
}
.alta {
    height: 550px;
    position: relative;
}
.color-slide-button:hover {
   transform: scale(1.1);
   transition: all 1s ease;
}
.red {
   background: #C10016;
}
.black {
   background: black;
   left: 49% !important;
}
.silver {
   background: #F1F1F3;
   left: 53% !important;
}
.grey {
   background: #BABBBF;
   left: 57% !important;
}
/* text-styling */
.color-sliders {
    position: relative;
}
/* image */
.alta img {
    position: absolute;
    top: 50px;
    z-index: -1;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
}
#alta img {
    transition: all 1s ease;
}
.color-slide-button.selected h4 {
    display: block;
}

.color-slide-button h4 {
    display: none;
    width: 500px !important;
    color: red;
    position: absolute;
    z-index: 2;
    top: -500px;
    left: 0;
    text-align: right;
    font-size: 50px;
}
.color-slide-button {
    left: 45%;
    margin-left: -25px;
}

.tab-image-slider .slick-arrow {
    position: absolute;
    top: 35%;
    z-index: 1;
}

.tab-image-slider .slick-next {
    right: 50px;
}

.tab-image-slider .slick-prev {
    right: auto;
    left: 50px;
}
.tab-image-slider .slick-prev:before, .tab-image-slider .slick-next:before {
    font-size: 40px;
}

/* lightbox gallery css */
.lightbox-galleries img {
    width: 100%;
}

.lightbox-galleries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}




@media only screen and (max-width: 767px) {
    .single-everest-slide img {
        height: 300px;
        object-fit: cover;
    }
    .everest-hero-slider .slick-dots {
        bottom: 20px;
        right: 175px;
    }
    .everest-hero-slider .slick-arrow {
        right: 160px;
        bottom: 20px;
    }
    .everest-hero-slider .slick-prev {
        left: 10px;
        right: auto;
    }
    .slide-1 .eve-slide-btn {
        right: 50px;
        bottom: 65px;
    }
    .slide-2 .eve-slide-btn {
        left: 25px;
        bottom: 60px;
    }
    .slide-3 .eve-slide-btn {
        bottom: 60px;
        flex-direction: inherit;
        left: 15px;
    }
    .slide-4 .eve-slide-btn {
        bottom: 60px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .block-list-texts h3 {
        font-size: 25px;
    }
    .content-block-list .container-fluid {
        gap: 20px;
        text-align: justify;
    }
    .everest-lineup-img-block, .content-block-list .container-fluid {
        grid-template-columns: 1fr;
    }
    .img-block-texts {
        font-size: 16px;
    }
    .tab-label {
        font-size: 20px;
    }
    .tab-content {
        top: 1.75em;
    }
    .alta {
        height: 320px;
    }
    .silver {
        left: 59% !important;
    }
    .grey {
        left: 73% !important;
    }
    .black {
        left: 44% !important;
    }
    .color-slide-button {
        left: 30%;
    }
    .tab-image-slider .slick-arrow {
        top: 80%;
    }
    .tab-image-slider .slick-prev {
        left: 20px;
    }
    .color-slider {
        padding: 40px 0 0;
    }
    .tabs {
        height: 400px;
    }
    .panorama-absolute-img img {
        width: 50px;
    }
    .lightbox-galleries {
        grid-template-columns: 1fr 1fr;
    }
    .img-blocks {
        grid-template-columns: 1fr;
    }
    .image-block-box img {
        height: auto;
    }
    .image-block-texts h3 {
        font-size: 25px;
    }
    .everest main {
        font-size: 16px;
    }
    .img-and-text {
        padding: 30px 0;
    }
    .biggest-img-text p br {
        display: none;
    }
    .dark-blue {
        padding: 40px 0;
    }
    .next-gen-btn {
        left: 0;
        margin-left: 0;
        top: 20px;
        right: 0;
        text-align: center;
    }
    .next-gen-list {
        padding: 20px 0;
        margin: 45px 0 0;
    }
    .next-gen-list .container {
        width: 95%;
    }
    .next-gen-icon i {
        font-size: 16px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
    .next-gen-item h3 {
        font-size: 16px;
        margin-top: 10px;
    }
    .everest-page .header-b-right {
        display: none;
    }
    .header-bottom.everest-b-header {
        display: block;
    }
    
    
}