
/* Footer CSS */
.footer-top {
    background: #343434;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

.site-footer a {
    color: #a8a8a8 !important;
}
.site-footer a:hover {
    color: #008cba;
}
.foo-search input[type="text"] {
    width: 93%;
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

.foo-search input[type="text"]::placeholder, .foo-search button, .foo-search input[type="text"] {
    color: #fff;
}

.foo-search button {
    background: transparent;
    border: none;
    font-size: 18px;
}

.foo-top-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.foo-top-nav ul li a {
    display: block;
    padding: 10px;
    margin-left: 5px;
}

.footer-mid{
    background: #252525;
    padding: 20px 0;
}
.footer-mid .mid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-mid h5 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-bottom {
    background: #1B394E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

ul.foo-social {
    display: flex;
}

.copyright-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.cpr-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.cpr-nav {
    display: flex;
}

ul.cpr-nav li a {display: block;padding: 10px;margin-left: 5px;}

.site-content .container-fluid {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/* social css */
.fa-facebook-f {background-color: #5071AA;}
.fa-twitter {background-color: #68C6E1;}
.fa-linkedin-in {background-color: #0876B5;}
.fa-pinterest {background-color: #B7081B;}
.fa-instagram {background-color: #D92E75;}
.fa-youtube {background-color: #E02E24;}
.fa-envelope {color: #F1CA65;}

ul.foo-social li a i {
    height: 30px;
    width: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}
@media only screen and (max-width: 767px) {
    .footer-top {
        padding: 15px;
    }
    .foo-top-nav ul, ul.cpr-nav  {
        text-align: center;
    }
    .foo-top-nav ul li, ul.cpr-nav li {
        display: inline-block;
    }
    .foo-top-nav ul li a, ul.cpr-nav li a {
        padding: 5px;
    }
    .footer-mid .mid-row {
        grid-template-columns: 2fr 2fr;
        gap: 20px 10px;
    }
    .footer-mid h5 {
        margin-bottom: 5px;
    }
    .footer-bottom {
        gap: 15px;
        align-items: center;
    }
    .copyright-wrap, .footer-bottom {
        padding: 15px 20px;
    }
    .cpr-left, .copyright-wrap, .footer-bottom {
        flex-direction: column;
    }
    ul.cpr-nav, .foo-top-nav ul, .footer-top {
        display: block;
    }
    ul.cpr-nav li a {
        margin-top: 5px;
    }
    .cpr-right {
        margin-top: 10px;
    }
    .foo-search input[type="text"] {
        width: 89%;
    }
    .foo-top-left {
        margin-bottom: 10px;
    }
}