
.content-inner {
    font-size: 22px;
}

.content-block-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

.grid-text h2 {
    font-size: 40px;
}

.next-gen-list .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.next-gen-icon i {
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: dodgerblue;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
}

.next-gen-item h3 {
    font-size: 35px;
    margin-bottom: 0;
}

.next-gen-item h3 a {
    color: #fff;
}
.next-gen-list {
    background: #1B394E;
    padding: 80px;
}

@media only screen and (max-width: 767px) {
    .electric-event .hero-img-wrap {
        margin-top: 70px;
    }
    .hero-img-nav {
        width: 100%;
    }
    .hero-img-nav button {
        padding: 5px 15px;
        font-size: 20px;
        width: 100%;
    }
    .content-block-grid {
        grid-template-columns: 1fr;
    }
    .grid-text h2 {
        font-size: 30px;
    }
    .grid-text {
        text-align: justify;
    }
    .next-gen-list {
        padding: 40px 0;
    }
    .next-gen-item h3 {
        font-size: 25px;
    }
    .next-gen-list .container {
        width: 95%;
        flex-direction: column;
        gap: 30px;
    }
}