
/* Shop CSS */
.msitheme-shop {
    overflow: hidden;
    max-height: 100%;
    position: relative;
}
.shop-sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    border-right: 1px solid #ddd;
}
.msitheme-shop.button-item .shop-sidebar {
    padding: 15px;
}

.shop-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.shop-sidebar a:hover {
    color: #f1f1f1;
}

.shop-sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#shop-main {
    transition: margin-left .5s;
    padding: 16px;
}
.msitheme-shop.button-item button {
    display: none;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .shop-sidebar {padding-top: 15px;}
    .shop-sidebar a {font-size: 18px;}
}

/* shop content css */
.shop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-header h1 {
    margin-bottom: 0;
    font-size: 50px;
    line-height: 50px;
}

.shop-header select {
    border: 1px solid #00035F;
    height: 50px;
    color: #00035F;
}

.shop-header select option {
    border-radius: 0 !important;
    scroll-behavior: inherit;
}

.shop-products ul {
    position: relative;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px 0;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.shop-products ul li {
    border: 1px solid #ddd;
    padding: 10px;
}

.product-box img {
    margin-bottom: 20px;
}

h4.product-title {
    margin-bottom: 0;
}

.product-box .price {
    line-height: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.product-cats span.category {
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 30px;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0 3px;
}

.product-cats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/* pagintions css */
.msitheme-pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.msitheme-pagination ul li {
    padding: 0;
}

.msitheme-pagination ul li a {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 44px;
    display: inline-block;
}

.msitheme-pagination ul li.current a, .msitheme-pagination ul li:hover > a {
    background: #00035F;
    color: #fff !important;
}
.price-slider {
    -webkit-appearance: none;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


@media only screen and (max-width: 767px) {
    .msitheme-shop {
        top: 130px;
    }
    .shop-products ul {
        grid-template-columns: 1fr 1fr;
    }
    .shop-products ul li {
        padding: 5px;
    }
    .product-box {
        text-align: center;
    }
    .product-box img {
        margin-bottom: 10px;
    }
    .product-box .price {
        line-height: 25px;
    }
    .product-cats, .product-cats span.category {
        display: block;
    }
    .product-cats span.category {
        margin: 5px 0;
    }
    .shop-header h1 {
        opacity: 0;
    }
    .openbtn {
        font-size: 30px;
        padding: 0px 15px;
        position: absolute;
        z-index: 1;
    }
}
