

/* slider css */
/* .slider-single-item img {
    height: 100vh;
    object-fit: cover;
} */
.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.slider-single-item {
    position: relative;
}

.slider-content {
    position: absolute;
    top: 50px;
    left: 100px;
}

.slider-content h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 50px;
}

.slider-content, .slider-content a {
    color: #fff;
}

.slider-sub-heading {
    font-size: 25px;
}

.slider-single-item figure figcaption {
    position: absolute;
    bottom: 20%;
    left: 100px;
}
.msitheme-slider .slick-dots {
    bottom: 40px;
}

.msitheme-slider .slick-dots li button::before {
    font-size: 20px;
}

.msitheme-slider li.slick-active button::before {
    opacity: 1;
}
.msitheme-slider .slick-dots {
    bottom: 40px;
}
.msitheme-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.msitheme-slider .slick-dots li button::before {
    font-size: 20px;
}

.msitheme-slider li.slick-active button::before {
    opacity: 1;
}

.msitheme-slider .slick-prev {
    left: auto;
    right: -25px;
    top: 46%;
}

.msitheme-slider .slick-arrow {
    height: 50px !important;
    width: 50px !important;
    background: #00035F;
    right: -50px;
}

.msitheme-slider .slick-prev::before, .msitheme-slider .slick-next::before {
    font-size: 60px;
    font-weight: 100;
    font-family: 'Ford Antenna ExtraCond';
    content: "<";
    color: #fff;
    line-height: 50px;
}

.msitheme-slider .slick-next::before {
    content: ">";
}

.msitheme-slider .slick-next {
    top: 52%;
}

.msitheme-slider .slick-arrow:hover {
    background: #000;
}

.msitheme-slider {
    overflow: hidden;
}

.msitheme-slider:hover .slick-arrow {
    right: 0;
    z-index: 2;
}

@media only screen and (max-width: 767px) {
    .slider-single-item img {
        height: 500px;
    }
    .slider-content {
        top: 160px;
        left: 0;
        text-align: center;
        right: 0;
    }
    .slider-content h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .slider-sub-heading {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .slider-single-item figure figcaption {
        bottom: 15%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .msitheme-slider:hover .slick-arrow {
        display: none;
    }
    .msitheme-slider .slick-dots {
        bottom: 20px;
    }
    .cta-content h2 {
        font-size: 25px;
        line-height: 30px;
    }
}

/* CTA CSS */
.msitheme-cta {
    background: #222A33;
    position: relative;
}
#ScrollToBottom {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    color: #fff;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    border-radius: 50%;
    background: #00045C;
    top: -40px;
}

.cta-content, .cta-content a {
    color: #fff;
    text-align: center;
}

.cta-content h2 {
    font-size: 40px;
    line-height: 40px;
}

.cta-content {
    padding: 50px 0;
}

.cta2 {
    background-image: url("../imgs/background.jpg");
    background-position: center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.cta2::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    content: "";
    z-index: -1;
}

@media only screen and (max-width: 767px) {
    .cta-content h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .cta-content {
        padding: 25px 0;
    }
    .cta2 {
        height: 215px;
    }
}

/* Filter CSS */
.grey-bg {
    background: #eee;
    padding: 50px 0;
    text-align: center;
}

.grey-bg h2 {
    font-size: 50px;
    line-height: 50px;
}

.grey-bg .sub-title {
    font-size: 30px;
}

.msitheme-filters {
    margin: 10px auto 60px;
}
.msitheme-filters ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.msitheme-filters ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.msitheme-filters ul li.active {
    background: #00035F;
    color: #fff;
}

.msitheme-filter {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.msitheme-filter .itemBx {
    position: relative;
    width: 300px;
    height: 220px;
    margin: 5px;
    border: 1px solid #eee;
    margin-bottom: 40px;
}

.msitheme-filter .itemBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}
.msitheme-filter .slick-slide {
    opacity: 1;
}
.msitheme-filter .itemBx h5 {
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -20px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .msitheme-filters {
        width: 100%;
        max-width: 100%;
    }

    .msitheme-filters ul {
        display: block;
    }
    .msitheme-filter .itemBx {
        height: 165px;
    }
    .msitheme-filters .slick-arrow {
        display: none;
    }
}

/* Masonry CSS */
.msitheme-masonry {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-self: center;
}
.masonry-container {
    position: relative;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.masonry-box {
    display: grid;  
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.masonry-content-blank {
    font-size: 25px;
}
.masonry-box a {
    position: relative;
}
.masonry-content {
    position: absolute;
    bottom: 8px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    padding: 8px;
}
.masonry-content p {
    margin-bottom: 0;
}
.masonry-box img {
    max-width: 100%;
}
.masonry-box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
    align-self: center;
    color: #000;
}
.masonry-box:nth-child(3) {grid-column: span 2;grid-row: span 2;}


@media (max-width: 991px) {
    .masonry-container {
        grid-template-columns: repeat(auto-fill, minmax(50%), 1fr));
        grid-template-rows: : minmax(auto, auto);
    }

    .masonry-box {grid-column: unset !important;grid-row: unset !important;}
}





