/* Fonts CSS */

/* General CSS */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
    display: block;
}
.container, .container-fluid {
    margin: 0 auto;
}

.container {
    width: 85%;
}
.container-fluid {
    width: 95%;
}
a {
	background-color: transparent;
}
b,
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}
img {
	border-style: none;
    max-width: 100%;
    height: auto;
}
figure {
	margin: 0 0;
    font-family: 'Ford Antenna ExtraCond Lght';
    font-weight: 300;
    color: #fff;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
[hidden] {
	display: none;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #000000;
    font-family: 'Ford Antenna Cond';
    font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: 'Ford Antenna Cond';
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
}
h1, .h1 {
    font-size: 32px;
    font-size: 2em;
}
h2, .h2 {
    font-size: 27.8576px;
    font-size: 1.7411em;
}
h3, .h3 {
    font-size: 24.2515px;
    font-size: 1.5157em;
}
h4, .h4 {
    font-size: 21.1121px;
    font-size: 1.3195em;
}
h5, .h5 {
    font-size: 18.3792px;
    font-size: 1.1287em;
}
h6, .h6 {
    font-size: 16.3792px;
    font-size: 1em;
}
p {
	margin-bottom: 1.5em;
	margin-top: 0;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: 'Ford Antenna Cond';
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font-family: 'Ford Antenna Cond';
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}

/* Links
--------------------------------------------- */
a {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #048037;
}
a:focus{
	color: #048037;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
	color: #048037 !important;
}
.custom-logo-link {
	display: inline-block;
}
/* Navigation
--------------------------------------------- */
.site-header {
    border-bottom: 1px solid #ccc;
    background: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 5;
}
.main-content {
    margin-top: 127px;
}
.header-top {
    background: #f4f4f4;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
.header-top-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.header-top-item li {
    position: relative;
    margin: 0 10px;
}

.header-top-item > li:after {
    content: "";
    height: 20px;
    width: 2px;
    background: #ddd;
    position: absolute;
    right: -10px;
    top: 12px;
}

.navbar li ul {
    display: none;
}

.header-top-item li:last-child:after {
    display: none;
}

.header-top-item li a {
    display: inline-block;
    padding: 10px;
}
.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-b-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo img {
    width: 120px;
}

.main-navigation.navbar > ul {
    display: flex;
    margin: 0;
}

.main-navigation.navbar ul li {
    position: relative;
}

.main-navigation.navbar ul li > a {
    display: block;
    padding: 15px;
    margin-left: 5px;
}

/* .main-navigation.navbar ul li ul {
    display: none;
} */

.header-b-right ul {
    display: flex;
    margin: 0;
}

.header-b-right ul li a {
    display: block;
    padding: 15px;
    margin-left: 5px;
}

.navbar li:hover ul {
    display: block;
}

.navbar li ul {
    position: absolute;
    top: 42px;
    width: 170px;
    left: -42px;
    background: #fff;
    border: 1px solid #eee;
    z-index: 2;
}

.navbar li ul li {
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.navbar li ul li a {
    padding: 6px !important;
    display: block;
}

/* Footer CSS */
.footer-top {
    background: #343434;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

.site-footer a {
    color: #a8a8a8;
}

.foo-top-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.foo-top-nav ul li a {
    display: block;
    padding: 10px;
    margin-left: 5px;
}

.footer-mid{
    background: #252525;
    padding: 20px 0;
}
.footer-mid .mid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-mid h5 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-bottom {
    background: #1B394E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

ul.foo-social {
    display: flex;
}

.copyright-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.cpr-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.cpr-nav {
    display: flex;
}

ul.cpr-nav li a {display: block;padding: 10px;margin-left: 5px;}

.site-content .container-fluid {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/* social css */
.fa-facebook-f {background-color: #5071AA;}
.fa-twitter {background-color: #68C6E1;}
.fa-linkedin-in {background-color: #0876B5;}
.fa-pinterest {background-color: #B7081B;}
.fa-instagram {background-color: #D92E75;}
.fa-youtube {background-color: #E02E24;}
.fa-envelope {color: #F1CA65;}

ul.foo-social li a i {
    height: 30px;
    width: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}

/* slider css */
.slider-single-item img {
    height: 100vh;
    object-fit: cover;
}
.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.slider-single-item {
    position: relative;
}

.slider-content {
    position: absolute;
    top: 50px;
    left: 100px;
}

.slider-content h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 50px;
}

.slider-content, .slider-content a {
    color: #fff;
}

.slider-sub-heading {
    font-size: 25px;
}

.msitheme-btn {
    display: inline-block;
    background: green;
    padding: 15px 40px;
}

.msitheme-btn:hover {
    background: #000;
    color: #ccc !important;
}

.slider-single-item figure figcaption {
    position: absolute;
    bottom: 20%;
    left: 100px;
}
.msitheme-slider .slick-dots {
    bottom: 40px;
}

.msitheme-slider .slick-dots li button::before {
    font-size: 20px;
}

.msitheme-slider li.slick-active button::before {
    opacity: 1;
}
.msitheme-slider .slick-dots {
    bottom: 40px;
}
.msitheme-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.msitheme-slider .slick-dots li button::before {
    font-size: 20px;
}

.msitheme-slider li.slick-active button::before {
    opacity: 1;
}

.msitheme-slider .slick-prev {
    left: auto;
    right: -25px;
    top: 46%;
}

.msitheme-slider .slick-arrow {
    height: 50px !important;
    width: 50px !important;
    background: green;
    right: -50px;
}

.msitheme-slider .slick-prev::before, .msitheme-slider .slick-next::before {
    font-size: 60px;
    font-weight: 100;
    font-family: 'Ford Antenna ExtraCond';
    content: "<";
    color: #fff;
    line-height: 50px;
}

.msitheme-slider .slick-next::before {
    content: ">";
}

.msitheme-slider .slick-next {
    top: 52%;
}

.msitheme-slider .slick-arrow:hover {
    background: #000;
}

.msitheme-slider {
    overflow: hidden;
}

.msitheme-slider:hover .slick-arrow {
    right: 0;
    z-index: 2;
}

/* CTA CSS */
.msitheme-cta {
    background: #222A33;
}

.cta-content, .cta-content a {
    color: #fff;
    text-align: center;
}

.cta-content h2 {
    font-size: 40px;
    line-height: 40px;
}

.cta-content {
    padding: 50px 0;
}

.cta2 {
    background-image: url("../imgs/background.jpg");
    background-position: center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.cta2::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    content: "";
    z-index: -1;
}

/* Filter CSS */
.grey-bg {
    background: #eee;
    padding: 50px 0;
    text-align: center;
}

.grey-bg h2 {
    font-size: 50px;
    line-height: 50px;
}

.grey-bg .sub-title {
    font-size: 30px;
}

.msitheme-filters {
    margin: 10px auto;
}
.msitheme-filters ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.msitheme-filters ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.msitheme-filters ul li.active {
    background: green;
    color: #fff;
}

.msitheme-filter {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.msitheme-filter .itemBx {
    position: relative;
    width: 300px;
    height: 220px;
    margin: 5px;
    border: 1px solid #eee;
    margin-bottom: 40px;
}

.msitheme-filter .itemBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}
.msitheme-filter .slick-slide {
    opacity: 1;
}
.msitheme-filter .itemBx h5 {
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -20px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .msitheme-filters {
        width: 100%;
        max-width: 100%;
    }

    .msitheme-filters ul {
        display: block;
    }
}

/* Masonry CSS */
.msitheme-masonry {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: 100vh;
    background: #222;
    justify-content: center;
    align-self: center;
}
.masonry-container {
    position: relative;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: : minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.masonry-box {
    display: grid;
    padding: 20px;
    background: #333;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.masonry-box:hover {background: #e91e63;}
.masonry-box img {max-width: 100px;margin-bottom: 10px;position: relative;}
.masonry-box:nth-child(1) {grid-column: span 2;grid-row: span 1;}
.masonry-box:nth-child(2) {grid-column: span 1;grid-row: span 2;}
.masonry-box:nth-child(4) {grid-column: span 1;grid-row: span 2;}
.masonry-box:nth-child(5) {grid-column: span 3;grid-row: span 1;}

@media (max-width: 991px) {
    .masonry-container {
        grid-template-columns: repeat(auto-fill, minmax(50%), 1fr));
        grid-template-rows: : minmax(auto, auto);
    }

    .masonry-box {grid-column: unset !important;grid-row: unset !important;}
}
